<carousel class="carousel">
    <slide>
        <img src="assets/images/home1.png" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/home2.png" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/home3.png" alt="first slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4 mb-4">
        <h1 style="font-family: 'Courier New', Courier, monospace;">Happy hunting!</h1>
    </div>
</section>
