<ng-container *ngIf="(currentUser$ | async).email === adminEmail">
    <div class="container mt-5">
        <h3>Test various error codes / scenarios:</h3>
    </div>
    
    <div class="container mt-5">
        <button (click)="get500Error()" class="btn btn-outline-info mr-5">Test 500 Error</button>
        <button (click)="get404Error()" class="btn btn-outline-info mr-5">Test 404 Error</button>
        <button (click)="get400Error()" class="btn btn-outline-info mr-5">Test 400 Error</button>
        <button (click)="get400ValidationError()" class="btn btn-outline-info mr-5">Test 400 Validation Error</button>
        <div class="row mt-5" *ngIf="validationErrors">
            <ul class="text-danger">
                <li *ngFor="let error of validationErrors">{{error}}</li> 
            </ul>
        </div>
    </div>
    
    <div class="container mt-5">
        <h3>Enable / disable vendors websites (for maintenance purposes):</h3>
    </div>
    
    <div class="container mt-5">
        <input type="checkbox" id="emag" name="emag" value="emag" 
            [checked]="enabledVendors[0]" (change)="enableVendor(0)">
        <label>
            <strong>eMAG</strong>
            <br>
            <span class="label-description">https://www.emag.ro/</span>
        </label>
    </div>
    
    <div class="container mt-5">
        <input type="checkbox" id="evomag" name="evomag" value="evomag" 
            [checked]="enabledVendors[1]" (change)="enableVendor(1)">
        <label>
            <strong>evoMAG.ro</strong>
            <br>
            <span class="label-description">https://www.evomag.ro/</span>
        </label>
    </div>
    
    <div class="container mt-5">
        <input type="checkbox" id="pcgarage" name="pcgarage" value="pcgarage" 
            [checked]="enabledVendors[2]" (change)="enableVendor(2)">
        <label>
            <strong>PC Garage</strong>
            <br>
            <span class="label-description">https://www.pcgarage.ro/</span>
        </label>   
    </div>

    <div class="container mt-5">
        <h3>Manually update currently stored products (they are updated periodically):</h3>
    </div>

    <div class="container mt-5">
        <button (click)="updateProducts()" class="btn btn-outline-info mr-5">Update products</button>
    </div>  
</ng-container>



