.list-group-item{
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;

    &:focus {
        outline: none;
    }

    &.active {
        border-radius: 10px;
        background-color: #006d77;
    }

    &:not(.active):hover {
        color: #fff;
        background-color: #006d7769;
        border-radius: 10px;
    }
}

.page-link{
    color:#006d77;
}
