.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background: #52b788;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a {
    text-decoration:none;
    color: #343a40;

    &.active{
        color: #048d99;
    }
}

.logo{
    cursor: pointer;
    
    &:focus {
        outline: none;
    }
}

.title{
    cursor: pointer;
    font-size: 25px;
}